<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>EECE417Project</servlet-name>
		<servlet-class>eece417project.EECE417ProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EECE417Project</servlet-name>
		<url-pattern>/eece417project</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>checkLogin</servlet-name>
		<servlet-class>eece417project.homeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkLogin</servlet-name>
		<url-pattern>/checkLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>register</servlet-name>
		<servlet-class>eece417project.registerServlet</servlet-class>
	</servlet>
	<servlet>

	    <servlet-name>customer</servlet-name>
		<servlet-class>eece417project.customerServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>host</servlet-name>
		<servlet-class>eece417project.hostServlet</servlet-class>
	</servlet>
	 <servlet>
	 <servlet-name>AddParkade</servlet-name>
	 <servlet-class>eece417project.AddParkadeServlet</servlet-class>
	</servlet>
<servlet-mapping>
	    <servlet-name>AddParkade</servlet-name>
		<url-pattern>/AddParkade</url-pattern>
</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>customer</servlet-name>
		<url-pattern>/customer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>host</servlet-name>
		<url-pattern>/host</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>newReservation</servlet-name>
		<servlet-class>eece417project.newReservationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>newReservation</servlet-name>
		<url-pattern>/newReservation</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
</web-app>
